html {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
}

#main {
  flex: 2;
}

td {
  color: black;
  border-color: black;
  padding-left: 5px;
}

.favorite {
  font-weight: bold;
  color: blue;
}

.page {
  border: 2px solid #e0dfdc;
  background-color: #fff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 0.8rem;
  display: none;
}

#top-menu-bar {
  text-align: center;
  background-color: rgba(96, 197, 225, 255);
  color: #fff;
  margin: 0;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
}

#top-menu-bar a:hover {
  color: #334455;
  background-color: #fff;
  border-radius: 0.3em;
}

#header-wrapper {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#header-wrapper h1 {
  padding-left: 5px;
}

#dev-title {
  font-style: italic;
  font-size: 23px;
}

#dev-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid #057988;
}

#language-table {
  border-radius: 5%;
  font-weight: bold;
}

#skills-list li {
  font-weight: bold;
}

#skills-list span {
  color: grey;
  font-weight: 200;
}
